a {
    color: rgb(240, 237, 200);
}

.bg {
    background-color: #852032;
    padding         : 1px 0;
    padding-bottom  : 50px;
}

.about-me-container {
    display        : flex;
    justify-content: center;
    padding        : 30px 5vw 3vw 0;
    margin-left    : 0;
}

.parallax {
    height: 751px;
}

.fpu {
    margin-right: 50px;
    width       : 1500px;
    min-width   : 483px;
    height      : 751px;
}

.txt-container {
    display       : flex;
    flex-direction: column;
}

.about-p {
    font-family: 'KoHo', sans-serif;
    color      : #fff;
    font-size  : 24px;
    text-align : justify;
}

.history-container {
    display        : flex;
    justify-content: space-around;
}

.history-item {
    width: 330px;
    color: #fff;
}

.history-header {
    font-family     : 'LiberationMono';
    font-size       : 40px;
    color           : #fff;
    background-color: #731c2b;
    padding         : 10px 10px 5px;
    margin-bottom   : 35px;
}

.date {
    padding    : 0 0 0 7px;
    font-family: 'LiberationMono';
    font-size  : 24px;
    color      : #dea4a4;
    margin     : 0;
    text-align : left;
}

.subtext {
    text-align: left;
    margin    : 0;
    padding   : 0 0 0 7px;
}

.subtext2 {
    text-align : left;
    margin     : 0;
    padding    : 0 0 0 7px;
    font-family: 'KoHo', sans-serif;
    font-size  : 18px;
}

@media screen and (min-width: 1300px) {
    .about-me-container {
        margin-left : calc(50vw - 650px);
        margin-right: calc(50vw - 650px);
    }
}

@media screen and (max-width: 950px) {
    .about-me-container {
        display    : block;
        padding    : 0;
        padding-top: 30px;
    }

    .fpu {
        margin   : 0 auto;
        max-width: 483px;
    }

    .txt-container {
        padding: 0 30px;
    }

    .history-container {
        flex-direction: column;
        align-items   : center;
    }
}

@media screen and (max-width: 500px) {
    .fpu {
        min-width: 0;
        max-width: 100%;
    }
}