.gray-bg {
    background-color: #363636;
    padding         : 1px 0;
    padding-bottom  : 50px;
}

.stats-header {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
}

.refreshArrow {
    width           : 48px;
    height          : 48px;
    margin-right    : 5vw;
    margin-bottom   : max(2vh, 35px);
    border          : 3px solid #363636;
    background-color: #363636;
    border-radius   : 30px;
    transform       : scale(1.0);
    transition      : border 1s ease-in-out;
    transition      : transform .2s ease-in-out;
    transition      : background-color .2s ease-in-out;
}

.refreshArrow:hover {
    background-color: #2e2e2e;
    border          : 3px solid #2e2e2e;
    border-radius   : 30px;
    transform       : scale(1.1);
    transition      : background-color .2s ease-in-out;
    transition      : border .2s ease-in-out;
    transition      : transform .2s ease-in-out;
}

.refreshArrowLoading {
    width           : 48px;
    height          : 48px;
    margin-right    : 26.6vw;
    margin-bottom   : max(2vh, 35px);
    border          : 3px solid #363636;
    background-color: #363636;
    border-radius   : 30px;
    animation       : spin 1s ease-in-out infinite
}

.stats-footer {
    color        : #fff;
    text-align   : left;
    margin-left  : 2vw;
    margin-top   : 5vh;
    padding-right: 2vw;
    font-family  : 'KoHo', sans-serif;
    font-size    : 18px;
}

.bigNum {
    font-family: 'LiberationMono';
    font-size  : 75px;
    margin     : 0;
    color      : #fff;
}

.statsTxt {
    font-family: 'LiberationMono';
    font-size  : 22px;
    margin-top : 10px;
    color      : #fff;
}

.statsItem {
    background-color: #2e2e2e;
    width           : 425px;
    margin          : 0 auto;
    margin-top      : 75px;
    padding-bottom  : 1px;
    padding-top     : 15px;
}

.stats-container {
    margin         : 0 auto;
    color          : #fff;
    list-style-type: none;
    padding        : 0;
    display        : flex;
    width          : 1000px;
}

@media screen and (max-width: 1020px) {
    .stats-container {
        flex-direction: column;
        width         : 425px;
    }
}

@media screen and (min-width: 1300px) {
    .stats-footer {
        margin-left: calc(50vw - 650px);
    }
}

@media screen and (min-width: 1350px) {
    .refreshArrow {
        margin-right: calc(50vw - 600px);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}