@font-face {
    font-family: 'KoHo';
    src        : url('../fonts/KoHo/KoHo-ExtraLight.ttf');
}

@font-face {
    font-family: 'Source';
    src        : url('../fonts/Source_Code_Pro/SourceCodePro-ExtraLight.ttf');
}

.typing-effect-title {
    font-family  : 'RobotoMono', monospace;
    color        : #fff;
    animation    : typing 0.75s steps(13), blink .1s step-end 8 alternate;
    white-space  : nowrap;
    overflow     : hidden;
    border-right : 0.1em solid transparent;
    padding      : 5px;
    margin-bottom: 0;
    font-size    : 48px;
    transition   : all .7s ease-in-out;
}

.typing-effect-title-static {
    font-family  : 'RobotoMono', monospace;
    color        : #fff;
    white-space  : nowrap;
    overflow     : hidden;
    border-right : 0.1em solid transparent;
    padding      : 5px;
    margin-bottom: 0;
    font-size    : 48px;
    transition   : all .7s ease-in-out;
}

.lineTwo {
    font-family     : 'Source', monospace;
    color           : #fff;
    background-color: #000;
    margin-top      : 0;
    text-align      : left;
    padding         : 0 0 5px 5px;
    font-size       : 20px;
    transition      : all .7s ease-in-out;
}

@keyframes typing {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }

    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: #fff
    }
}

.titleBlock {
    margin-top : 7vh;
    margin-left: 0;
}

@media screen and (min-width: 1300px) {
    .titleBlock {
        margin-left: calc(50vw - 650px);
    }
}

@media screen and (max-width: 600px) {
    .typing-effect-title {
        font-size: 30px;
    }

    .typing-effect-title-static {
        font-size: 30px;
    }

    .lineTwo {
        font-size: 16px;
    }
}